@import url('https://fonts.googleapis.com/css?family=Quicksand|Bree+Serif|Josefin+Sans|Anton|Libre+Baskerville|Poppins|Lato|Raleway|Modak|Roboto+Condensed|Lora|Noto+Sans+TC|Open+Sans&display=swap');

/* Reset Default Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Import Fonts */

/*
font-family: 'Lora', serif;
font-family: 'Noto Sans TC', sans-serif;
font-family: 'Open Sans', sans-serif; 
*/

body{
  background-image: linear-gradient(to bottom, rgb(253, 254, 255));
  background-color: rgba(70, 75, 99, 0.836);
  
}

/* Default 1ine-height to 20pixels  */
html {
  font: 20px/1 'Open Sans';
}