@import url('https://fonts.googleapis.com/css?family=Quicksand|Bree+Serif|Josefin+Sans|Anton|Libre+Baskerville|Poppins|Lato|Raleway|Modak|Roboto+Condensed|Lora|Noto+Sans+TC|Open+Sans&display=swap');

/* Reset Default Styling */
* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
/* Import Fonts */
/* 
font-family: 'Lora', serif;
font-family: 'Noto Sans TC', sans-serif;
font-family: 'Open Sans', sans-serif; 
*/

body{
  /* background-color: rgba(70, 75, 99, 0.836); */
  background-image: url(https://warnerwave.xyz/image/41911-full_raining-money-png-hd-transparent-raining-money-hd-png-images-pluspng.jpg);
 }

/* Default 1ine-height to 20pixels  */
html {
  --dark: #011;
  --green: rgb(58, 168, 58);
  --light: #efefef;
  --red: red;
  --brown: rgb(88, 58, 33);

  color: var(--dark);
  font: 20px/1 sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 40rem;
  width: 90%;
  border-radius: 15px;
  background-color:black;
}

.game__button {
  border-radius: .3rem .3rem;
  width: 3rem;
  min-width: 3rem;
  border: solid red 2px;
}

.game__button-wrapper {
  display: flex;
  flex-direction: row;
  padding-bottom: 15px;
  align-content: space-around;
  justify-self: center;
  margin: 1rem 0;
}

.game__table {
  background-color: var(--green);
  border: 2rem solid var(--brown);
  min-height: 20rem;
}

/* Table Labels */
.game__table__dealer-hand {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  margin-top: 1rem 0;
  padding: 2rem 0;
}

.game__table__message {
  text-align: center;
  min-height: 5rem;
  margin: 2rem 0;
  padding: 2rem 0;
}

.game__table__user-hand {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-end;
  margin-top: 1rem 0;
  padding: 2rem 0

}

.header {
  display: flex;
  justify-content: center;
}

.header-title {
  /* text-align: center; */
  flex-basis: 9rem;
  color: var(--light);
  margin: .5rem 1rem;
  color: red;
  padding: 5px;
}

.playing-card {
  background-color: var(--light);
  border-radius: 0.5rem;
  display: flex;
  height: 8rem;
  margin: 0.5rem;
  padding: 1rem;
  width: 6rem;
}

.playing-card-black {
  border-color: black;
  color: black;
}

.playing-card-red {
  border-color: var(--red);
  color: var(--red);
}
  
.value-container {
  align-items: center;
  border: 1px solid;
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

/* .chips{
display: ;

} */

.header-title__chip-count{
display: grid;
Color:rgb(58, 168, 58) ;
}

.header-title__bet{
  display: grid;
  color:rgb(58, 168, 58);
}

.user-chips{
  display: grid;
  color: rgb(51, 51, 251);
}

.chip-count{
  display:grid;
  color:rgb(51, 51, 251);
  
}